.bold {
  font-weight: bold;
}

.m-0 {
	margin: 0 !important;
}
.m-1 {
	margin: .25em !important;
}
.m-2 {
	margin: .5rem !important;
}
.m-3 {
	margin: .75em !important;
}
.mr-0 {
	margin-right: 0 !important;
}
.mr-1 {
	margin-right: .25em !important;
}
.mr-2 {
	margin-right: .5rem !important;
}
.mr-3 {
	margin-right: .75em !important;
}
.ml-0 {
	margin-left: 0 !important;
}
.ml-1 {
	margin-left: .25em !important;
}
.ml-2 {
	margin-left: .5rem !important;
}
.ml-3 {
	margin-left: .75em !important;
}
.mt-0 {
	margin-top: 0 !important;
}
.mt-1 {
	margin-top: .25em !important;
}
.mt-2 {
	margin-top: .5rem !important;
}
.mt-3 {
	margin-top: .75em !important;
}
.mb-0 {
	margin-bottom: 0 !important;
}
.mb-1 {
	margin-bottom: .25em !important;
}
.mb-2 {
	margin-bottom: .5rem !important;
}
.mb-3 {
	margin-bottom: .75em !important;
}
.mx-0 {
	margin-left: 0 !important;
	margin-right: 0 !important;
}
.mx-1 {
	margin-left: .25rem !important;
	margin-right: .25rem !important;
}
.mx-2 {
	margin-left: .5rem !important;
	margin-right: .5rem !important;
}
.mx-3 {
	margin-left: .75rem !important;
	margin-right: .75rem !important;
}
.my-0 {
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}
.my-1 {
	margin-top: .25rem !important;
	margin-bottom: .25rem !important;
}
.my-2 {
	margin-top: .5rem !important;
	margin-bottom: .5rem !important;
}
.my-3 {
	margin-top: .75rem !important;
	margin-bottom: .75rem !important;
}
.p-0 {
	padding: 0 !important;
}
.p-1 {
	padding: .25em !important;
}
.p-2 {
	padding: .5rem !important;
}
.p-3 {
	padding: .75em !important;
}
.pr-0 {
	padding-right: 0 !important;
}
.pr-1 {
	padding-right: .25em !important;
}
.pr-2 {
	padding-right: .5rem !important;
}
.pr-3 {
	padding-right: .75em !important;
}
.pl-0 {
	padding-left: 0 !important;
}
.pl-1 {
	padding-left: .25em !important;
}
.pl-2 {
	padding-left: .5rem !important;
}
.pl-3 {
	padding-left: .75em !important;
}
.pt-0 {
	padding-top: 0 !important;
}
.pt-1 {
	padding-top: .25em !important;
}
.pt-2 {
	padding-top: .5rem !important;
}
.pt-3 {
	padding-top: .75em !important;
}
.pb-0 {
	padding-bottom: 0 !important;
}
.pb-1 {
	padding-bottom: .25em !important;
}
.pb-2 {
	padding-bottom: .5rem !important;
}
.pb-3 {
	padding-bottom: .75em !important;
}
.px-0 {
	padding-left: 0 !important;
	padding-right: 0 !important;
}
.px-1 {
	padding-left: .25rem !important;
	padding-right: .25rem !important;
}
.px-2 {
	padding-left: .5rem !important;
	padding-right: .5rem !important;
}
.px-3 {
	padding-left: .75rem !important;
	padding-right: .75rem !important;
}
.py-0 {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}
.py-1 {
	padding-top: .25rem !important;
	padding-bottom: .25rem !important;
}
.py-2 {
	padding-top: .5rem !important;
	padding-bottom: .5rem !important;
}
.py-3 {
	padding-top: .75rem !important;
	padding-bottom: .75rem !important;
}

.flexbox {
	display: flex;
}
.flexbox.has-space-around {
	justify-content: space-around;
}
.flexbox.has-space-between {
	justify-content: space-between;
}
.flexbox.has-middle {
	align-items: center;
}
.flexbox.has-bottom {
	align-items: flex-end;
}
.flexbox > .is-end {
	margin-left: auto;
}
.flexbox.has-wrap {
	flex-wrap: wrap;
}

.flexcolumn {
	display: flex;
	flex-direction: column;
}
.flexcolumn.has-center {
	justify-content: center;
}
.flexcolumn.has-space-between {
	justify-content: space-between;
}
.flexcolumn.has-middle {
	align-items: center;
}
.flexcolumn > .is-end {
	margin-top: auto;
}